[include steppers.cfg]
[include valve_macros.cfg]


# --- MCU ---

#raspi to cr6 with usb
#--- 
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFD6054255373708661957-if00
baud: 250000

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 50
max_accel: 500
square_corner_velocity: 5
max_z_velocity: 5
max_z_accel: 100

[force_move]
enable_force_move: True

[gcode_arcs]

[static_digital_output usb_pullup_enable]
pins: !PA14

# --- Steppers ---
# (see steppers.cfg)

# --- Valves ---
# (see valve_macros.cfg)

# --- Macros ---
# (see valve_macros.cfg and steppers.cfg)

# After copying, restart Klipper: sudo systemctl restart klipper
