# =============================================================================
# Save homing configuration for Syringe Spotter V2
# =============================================================================
[gcode_macro HOMING]
description: Homing with safety moves
gcode:
    G28 Z
    G0 Z71 F2000
    G28 X
    G0 X115 F5000
    G28 Y
    G0 Y0 F5000
    Z_SMASH_ALIGN
    G0 Z71 F2000
    G0 X0 F5000

    M400
    RESPOND MSG="Gantry Homed"


[gcode_macro Z_SMASH_ALIGN]
description: Mechanical gantry alignment by crashing into top frame
gcode:
    
    M117 Gantry Align...

    G0 Z91 F2000
    
    # Disable stall detection temporarily (prevents retrigger)
    SET_TMC_FIELD STEPPER=stepper_z FIELD=SGT VALUE=0
    
    # Push 5mm further into the top frame
    G91
    G1 Z5 F300
    G90

    # Small pause to let motors settle
    G4 P500

    # Restore stall sensitivity (adjust if needed)
    SET_TMC_FIELD STEPPER=stepper_z FIELD=SGT VALUE=4

    # Re-home Z cleanly
    G28 Z

    M117 Gantry Aligned
